body{
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar-default  {
    background-color: transparent;
    border: none;
    position: fixed;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: white !important;
    font-weight: 700;

}


.navbar-brand img {
    width: 200px;
    
}


.navbar-nav {
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;

}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fed136;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-style: italic;
    font-family: Droid Serif;
}
.page-header {
    background-image:url("../IMG/header-bg.jpg");
    height: 105vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}

.vertical-center{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.jumbotron {
    background-color: transparent;

}

button {
    background-color: #fed136;
    border: 0;
   color: #ffffff;
   padding: 20px;
   align-content: center;
   font-weight: 700;
}

.page-header {
    text-align: center;
}

.sectionpadding {
    padding: 150px 0px;
}

.second {
    text-align: center;
}

.wrap_icone{
   
}

.fa-stack-2x {
    font-size: 9em;
    color: #fed136;
}

.fa-stack-1x {
    font-size: 60px;
    line-height: 122px;
}