body{
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar-default  {
    background-color: transparent;
    border: none;
    position: fixed;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: white !important;
    font-weight: 700;
    padding: 30px;

}


.navbar-brand img {
    width: 200px;
    
}


.navbar-nav {
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;

}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fed136;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-style: italic;
    font-family: Droid Serif;
}
.page-header {
    background-image:url("../IMG/header-bg.jpg");
    height: 105vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}

.vertical-center{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.jumbotron {
    background-color: transparent;

}

button {
    background-color: #fed136;
    border: 0;
   color: #ffffff;
   padding: 20px;
   align-content: center;
   font-weight: 700;
}

.page-header {
    text-align: center;
}

.sectionpadding {
    padding: 100px 0px;
}

.second {
    text-align: center;
}

.wrap_icone{
padding-bottom: 140px;
}

.fa-stack-2x {
    font-size: 9em;
    color: #fed136;
}

.fa-stack-1x {
    font-size: 60px;
    line-height: 122px;
}

.services {
    padding-bottom: 40px;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

h4 {
    font-weight: 700;
    font-size: 2rem;
}

.button-header {
    padding: 20px;
}

.third {
    text-align: center;
    background-color: #f8f9fa !important;
}

.title {
    padding: 90px;
}

.imagens_portfolio {
    width: 100%;
    margin: inherit;
    margin-top: 100px;
}

.forth {
    text-align: center;
}

.col_text {
    text-align: right;
    padding-left: 180px;
    line-height: 27px;
}

.col_text2{
    line-height: 27px;
    padding-left: 190px;
}

.rounded_circle {
    border-radius: 50% !important;
    border: 7px solid #e9ecef;
    height: 170px;
}

.imagens_portfolio div.col-md-4.col-lg-4.col-sm-12 {
    padding: 15px;
}

.image1 {
    background-image: url("../IMG/portfolio/01-thumbnail.jpg");
    content: "";
    width: 100%;
    height: 250px;
    background-size: cover;
}

#image2 {
    background-image: url("../IMG/portfolio/02-thumbnail.jpg");
    content: "";
    width: 100%;
    height: 250px;
    background-size: cover;
}

#image3 {
    background-image: url("../IMG/portfolio/03-thumbnail.jpg");
    content: "";
    width: 100%;
    height: 250px;
    background-size: cover;
}

#image4 {
    background-image: url("../IMG/portfolio/04-thumbnail.jpg");
    content: "";
    width: 100%;
    height: 250px;
    background-size: cover;
}

#image5 {
    background-image: url("../IMG/portfolio/05-thumbnail.jpg");
    content: "";
    width: 100%;
    height: 250px;
    background-size: cover;
}

#image6 {
    background-image: url("../IMG/portfolio/06-thumbnail.jpg");
    content: "";
    width: 100%;
    height: 250px;
    background-size: cover;
}

.text_portfolio {
    height: 120px;
    padding: 23px;
    background-color: #ffffff;
}

.rounded_circle ::after {
    content: "";
    background-color: #e9ecef;
    height: 10px;
    width: 2px;
}

.col_image2 {
    padding-left: 560px;
}

.background-red {
    background-color: #fed136!important;
    height: 250px;
    position: absolute;
    opacity: 0.9;
    z-index: 99;
}